<div class="container mt-5">
  <div class="row">
    <% @shapes.each do |shape| %>
      <div class="col">
        <div class="card" style="width: 18rem;height: 19rem;">
          <div class="card-body">
            <h5 class="card-title text-center"><%= shape.name %></h5>
            <div class="mb-3 mt-3 text-muted text-center">
              <i class="fa fa-<%= shape.icon %> fa-5x" aria-hidden="true"></i>
            </div>
            <p class="card-text"><%= shape.description %></p>
          </div>
          <div class="card-footer text-center">
            <%= link_to "#{shape.link}", class:"text-muted", style: "text-decoration: none" do %>
              Launch full shape
            <% end %>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
